.git
.gitignore
frontend/node_modules
frontend/build
backend/venv
backend/__pycache__
backend/soma_local.db
backend/static
backend/*.pyc
**/.env
**/__pycache__
**/*.pyc
.DS_Store
README.md
render.yaml
start.sh
